{% extends "base.html" %}
{% block content %}
    <h3>Login </h3>
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="col-sm-6">
            <label class="control-label" for="username">Username*:</label>
            
                <input type="text" id="username" name="username"  placeholder="Username">

        </div>
        <div class="col-sm-6">
            <label class="control-label" for="password">Password*:</label>

                <input type="password" name="password" id="password" placeholder="Password">

        </div>
        <div class="col-sm-6">

                <button type="submit" class="btn btn-primary">Login</button>

        </div>
        <div>
        Don't have an account? <a href="/register"><strong>register here</strong></a>!
      </div>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
            {% for message in messages %}
            <script>alert("{{ message }}")</script>
            {% endfor %}
    </ul>
    {% endif %}
{% endblock %}