{% extends "base.html" %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <div class="col-sm-6">
            <label class="control-label" for="username">Username*:</label>
                <input type="text" id="username" name="username"  placeholder="Username">
        </div>
        <div class="col-sm-6">
            <label class="control-label" for="first_name">First Name*:</label>
                <input type="first_name" name="first_name" id="first_name" placeholder="Password">
        </div>
        <div class="col-sm-6">
            <label class="control-label" for="last_name">Last Name*:</label>
                <input type="last_name" name="last_name" id="last_name" placeholder="Last Name">
        </div>
        <div class="col-sm-9">
            <label class="control-label" for="password">Password*:</label>
                <input type="password" name="password" id="password" placeholder="Password">
            Password should be atleast 8 characters long
        </div>
        <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div>
        Already have an account? <a href="/login"><strong>login</strong></a>!
  </form>
  {% if messages %}
    <ul class="messages">
            {% for message in messages %}
            <script>alert("{{ message }}")</script>
            {% endfor %}
    </ul>
{% endif %}
{% endblock %}