[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
pytz = "*"
sqlparse = "*"
Django = "*"
gunicorn = "*"
django-heroku = "*"
django-picklefield = "*"

[requires]
python_version = "3.8"
